{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block css %}
<link href="/static/account.css" rel="stylesheet">
{% endblock %}

{% block main %}
<h1>Account</h1>
<p id="acc-data">
    <span class="acc-heading">Email</span>:
    <br>
    <span class="acc-content">{{ email }}</span>
    <br>
    <a href="/change_password" class="change-settings">change password</a>
    <br>
    <span class="acc-heading">Tier</span>:
    <br>
    <span class="acc-content">{{ tier }}</span>
    <br>
    <a href="/change_tier" class="change-settings">change plan</a>
</p>
{% endblock %}