{% extends "layout.html" %}

{% block title %}
Chat
{% endblock %}

{% block css %}
<link href="/static/chat.css" rel="stylesheet">
<script src="/static/chat.js"></script>
{% endblock %}

{% block main %}
<h1>Chat</h1>
{% if request.method == 'GET' %}
<form action="/chat" method="post">
    <div class="mb-3">
        <select name="model_name">
            <option value="0" disabled selected>Choose Model</option>
            {% for model in models %}
            <option value="{{ model[0] }}">{{ model[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-red" type="submit">Choose Model</button>
</form>
{% else %}
<p id="chat">
    <span id="chat-heading">Chat with {{ model_name }}</span>
    <br>
    <span id="chat-content"></span>
    <br>

    <input type="text" id="chat-input" placeholder="Type your message here...">
    <button class="btn btn-red" id="chat-send" onclick="getChat()">Send</button>
</p>

{% endif %}
{% endblock %}