{% extends "layout.html" %}

{% block title %}
Chat
{% endblock %}

{% block css %}
<link href="/static/chat.css" rel="stylesheet">
<script src="/static/chat.js"></script>
{% endblock %}

{% block main %}
    <h1>Chat</h1>
    {% if request.method == 'GET' %}
    <form action="/chat" method="post">
        <div class="mb-3">
            <select name="model_name" class="form-select">
                <option value="0" disabled selected>Choose Model</option>
                {% for model in models %}
                <option value="{{ model[0] }}">{{ model[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-red" type="submit">Choose Model</button>
    </form>

    <div class="mb-3">
        <h1> </h1>
    </div>

        <div class="mb-3">
            <h1>Processing</h1>
            {% for job in fine_tuning_jobs %}
                <li>
                    {{ job.name }} - {{ job.status }}
                </li>
            {% endfor %}
        </div>

    {% else %}
    <div id="chat">
        <span id="chat-heading">Chat with {{ model_name }}</span>
        <div id="chat-content">
            <!--
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            <div class="chatbox user">Hello</div>
            <div class="chatbox assistant">wir müssen das ernst nehmen</div>
            -->

        </div>

        <div id="chat-form">
            <input class="form-control" type="text" id="chat-input" placeholder="Type your message here...">
            <button class="btn btn-red" id="chat-button">Send</button>
        </div>
</div>

{% endif %}
{% endblock %}