{% extends "layout.html" %}

{% block title %}
Create Model
{% endblock %}
{% block css %}
<link href="/static/create_model.css" rel="stylesheet">
{% endblock %}

{% block main %}
<h1>Create Model</h1>
<span id="todo">TODO</span>
<form action="/create_model" method="post">
    <div class="mb-3">
        <select name="file_name">
            <option value="0" disabled selected>Choose File</option>
            {% for file in files %}
            <option value="{{ file[0] }}">{{ file[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-red" type="submit">Create Model</button>
</form>
{% endblock %}

