{% extends "layout.html" %}

{% block title %}
File Upload
{% endblock %}
{% block css %}
<link href="/static/upload_file.css" rel="stylesheet">
{% endblock %}

{% block main %}
{% if request.method == 'GET' %}
<h1>Upload File</h1>

<form action="/new_create_model" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control" id="file" name="file"
               type="file" accept=".txt">
    </div>
    <button class="btn btn-red" type="submit">Create Model</button>
</form>
{% else %}
<h1>Fine-tune job started</h1>
job id: {{ data.id }}
<br>
model: {{ data.model }}
<br>
started: {{ data.created_at }}
<br>
<span id="{% if data.status == 'succeeded' %}success{% else %}failure{% endif %}">status: {{ data.status }}</span>
<br>
tokens: {{ data.trained_tokens }}
{% endif %}
{% endblock %}


