{% extends "layout.html" %}

{% block title %}
File Too Big
{% endblock %}

{% block css %}
<link href="/static/file_too_big.css" rel="stylesheet">
<!-- <script src="/static/file_too_big.js"></script> -->
{% endblock %}

{% block main %}
<h1>File Too Big</h1>

File ID: {{ file_id }}
<br>
File Size: {{ file_size }}
<br>
TODO: a bar that indicates the file size and the max file size allowed
<br>
TODO: show how much pay would cost
<form action="/size_too_big" method="post">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="choice" class="" id="Trim" value="trim">
        <label class="form-check-label" for="Trim">Trim (Probably best to add an option to trim the begining or
            the end)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="choice" class="" id="Pay" value="pay">
        <label class="form-check-label" for="Pay">Pay</label>
    </div>
    <button class="btn btn-red" type="submit" id="startButton">Start</button>
</form>


{% endblock %}