file_uploads/upload_10.txt
file_uploads/upload_11.txt
file_uploads/upload_12.txt
*.xml
file_uploads/upload_16.txt
file_uploads/upload_17.txt
*.jsonl
epanaFlask/.idea/.name
epanaFlask/user_database
*.txt
*.xml
epanaFlask/epana
.idea/
__pycache__
