verification.jsonl
output.jsonl
verification.jsonl
file_uploads/upload_10.txt
file_uploads/upload_11.txt
file_uploads/upload_12.txt
epanaFlask/__pycache__/helpers.cpython-310.pyc
epanaFlask/__pycache__/app.cpython-310.pyc
__pycache__/playground.cpython-310.pyc
__pycache__/finetuning_for_flask.cpython-310.pyc
__pycache__/chat_converter.cpython-310.pyc
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/sqldialects.xml
.idea/sqldialects.xml
*.xml
.idea/.name
file_uploads/upload_16.txt
file_uploads/upload_17.txt
.idea/dataSources.xml
*.jsonl
epanaFlask/.idea/.name
__pycache__/token_checker.cpython-310.pyc
__pycache__/finetuning.cpython-310.pyc
.idea/sqldialects.xml
.idea/sqldialects.xml
.idea/misc.xml
.idea/epana.iml
.idea/dataSources.xml
.idea/.name
epanaFlask/user_database
*.txt
.idea/sqldialects.xml
.idea/dataSources.xml
.idea/dataSources.xml
*.xml
.idea/misc.xml
__pycache__/chat_converter.cpython-311.pyc
__pycache__/finetuning_for_flask.cpython-311.pyc
__pycache__/finetuning.cpython-311.pyc
__pycache__/playground.cpython-311.pyc
__pycache__/token_checker.cpython-311.pyc
epanaFlask/epana
epanaFlask/__pycache__/app.cpython-311.pyc
epanaFlask/__pycache__/helpers.cpython-311.pyc
