#acc-data {
    width: 30vw;
    max-width: 500px;
    min-width: min-content;

    border-radius: 10px;

    padding: 1vh;
    background-color: #6A994E;
    color: #F2E8CF;

}

.acc-heading {
    font-size: 3vh;
    margin: 0;
}

.acc-content {
    margin: 0;
}