#chat {
    width: 40vw;
    max-width: 500px;
    min-width: min-content;

    border-radius: 10px;

    padding: 1vh;
    margin: 0;
    background-color: #6A994E;
    color: #F2E8CF;
}

#chat-heading {
    font-size: 2.5vh;
    margin: 5px;
}

#chat-content {
    margin: 5px;
}

#chat-input {
    padding: 5px;
    border-radius: 5px;

    margin: 1%;
    width: 70%;
}

#chat-send {
    width: 18%;
    margin: 1%;
}

.chatbox {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user {
    background-color: #386641;
}

.assistant {
    background-color: #6A994E;
}