#chat {
    width: 40vw;
    max-width: 1000px;
    min-width: min-content;

    height: 75vh;

    border-radius: 10px;

    padding: 1vh;
    margin: 0;
    background-color: #6A994E;
    color: #F2E8CF;

    overflow-y: auto;
}

#chat-heading {
    font-size: 3.5vh;
    margin: 0.7vh;
}

#chat-content {
    margin: 2vh 0.7vh 0.7vh;
}

#chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    font-size: 1.5vh;
}

#chat-button {
    margin-left: 1vw;
    height: 4vh;
    padding: 0.6vh 2vh 0.75vh 2vh;
    font-size: 1.8vh;
    
}

.chatbox {
    height: fit-content;
    padding: 5px 5px 5px 0.5vw;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 2vh;
}

#chat-input {
    padding-left: 0.5vw;
    font-size: 1.8vh;
    height: 4vh;
}

.user {
    background-color: #386641;
}

.assistant {
    background-color: #6A994E;
}