body {
    font-size: 2vh;
    font-family: 'Fira Code', monospace;
}

#todo {
    font-size: 4em;
    color: red;
    transition: 10s ease;
}

#todo:hover {
    font-size: 20em;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}

a:hover {
    color: #000000;
}

#nav-bar {
    height: 14vh;
    padding: 2vh 2vh 2vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #386641;
    color: #f2e8cf;
    transition: 0.3s ease;
}

#nav-links {
    display: flex;
    align-items: center;
    transition: 1s ease;

}


#nav-bar h1 {
    font-size: 7vh;
    margin: 0; /* Remove the default margin */
}

#nav-bar a {
    font-size: 3vh;
    margin-right: 3vh; /* Add margin-right instead of padding */
    color: #f2e8cf;
    transition: color 0.3s ease;

}

#nav-bar a:hover {
    color: #BC4749;

}


main {
    height: 86vh;
    padding: 2vh 2vh 2vh 2vh;
    background-color: #f2e8cf;
    color: #386641;
}

main h1 {
    color: #386641;
    font-size: 5vh;
}

main form {
    width: 30%;
    max-width: 600px;
    min-width: 200px;
}

.btn {
    font-size: 1em;
    min-width: fit-content;
    max-width: 10vw;
    min-height: fit-content;
    max-height: 10vh;
}


.btn-red {
    background-color: #BC4749;
    border-color: #f5dec6;
    color: #ffffff;
}

