#nav-bar {
    height: 14vh;
    padding: 2vh 2vh 2vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #386641;
    color: #f2e8cf;
    transition: 0.3s ease;
}

#nav-links {
    display: flex;
    align-items: center;
    transition: 1s ease;

}


#nav-bar h1 {
    font-size: 7vh;
    margin: 0; /* Remove the default margin */
}

#nav-bar a {
    font-size: 3vh;
    margin-right: 3vh; /* Add margin-right instead of padding */
    color: #f2e8cf;
    text-decoration: none;
    transition: color 0.3s ease;

}

#nav-bar a:hover {
    color: #BC4749;

}

main {
    height: 86vh;
    padding: 10px 10px 10px 10px;
    background-color: #f2e8cf;
    color: #386641;
}

main h1 {
    color: #BC4749;
}
